body{
    background-color:lightblue;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

//Menu Superior
nav{
    background-color: grey;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav a{
    color:white;
    margin-right: 20px;
    text-decoration: none;
}


nav a:hover{
    background-color: blue;
    padding:5px;
}


//Principal

#ImagenPrincipial{
    background-image: url("../images/imagencentral.png");
    height:434px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#texto {
    font-size: 60px;
    color:white;
    font-weight: bold;
    background-color: rgba(1, 151, 161, 0.7);
    

}


#flex{
    margin:10px 0 20px 0;
    display: flex;
    flex-wrap: wrap;

    
}

.box{
    margin:20px 60px 0px 60px;
    border: 1px;
    border-style: solid;
    width: 250px;
}

.title{
    padding: 10px;
    background-color: aquamarine;
    text-align: center;
}
.imagen{
    width: 100%;
  height: auto;
}
.textoinferior{
padding: 3px 5px 3px 5px;
font-size: 12px;
}

.buttonleermas{
    padding: 20px 0px 20px 0px;
    width: 120px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 400px) {
    #texto{
        font-size: 40px;
    }
    #ImagenPrincipial{
        background-image: url("../images/imagencentral.png");
        height:234px;
        background-repeat: no-repeat;
        background-size:100% 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

//Pie de Pagina
#footer{
    background-color: chocolate;
    margin-top: 10px;
}

#footer a{
    font-size: 12px;
    text-decoration: none;
    color: black;
}



